/*--+----+----+----+----+----+----+----+----+----+----+

    サーチボックス・コンポーネント（モーダル）の装飾
      2022.7.25 Tatsu_hira




----+----+----+----+----+----+----+----+----+----+---*/
@import "./Management.scss";    // 全体管理用scssファイルを読み込み

.form1 {     //フォーム全体
    //position:relative;/*フォームの相対位置*/	
    //max-width:100%;/*フォームのサイズ*/
    //margin-bottom:16px;/*フォームの下に余白*/	 	
  }



$SearchWidthDiff : 0px;


  .sbox {     //検索ボックス
    position:absolute;/*フォームの絶対位置*/	
    top: 24px;
    //width:431px;  /* 4K用（レスポンシブ対応予定） */
    width: 440px + $SearchWidthDiff;  /* 4K用（レスポンシブ対応予定） */
    outline:0;/*クリック時の青い枠線消す*/	
    height:33px;/*検索ボックスの高さ*/	
    padding:0 10px;/*テキスト位置調整*/	 
    border-radius:22px;/*検索ボックスの角を丸める*/
    background:lighten(#eee,3%);/*検索ボックスの背景カラー*/		
    border: none;
    left:412px;/*検索ボタンの位置調整*/
    filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.2) inset);
  }

  .sbtn{     //検索ボタン
    @include tx-btn;
    $left: 819px + $SearchWidthDiff;  //左右位置の変数宣言
    $top: 23px;    //上下位置の変数宣言
    position:absolute;/*検索ボタンの絶対位置*/
    left: $left;/*検索ボタンの位置調整960*/  
    top: $top;
    border-radius:0 22px 22px 0;/*検索ボタンの角を丸める*/ 
  }

.aaaaa {
  top: 36px;
  margine: 400px 120px 0px 0px;
  keft: 300px;
  width: 20px;
  cursor: pointer;
  
}


/* 検索ボタン念のため保存
  .sbtn{     //検索ボタン
    $left: 819px + $SearchWidthDiff;  //左右位置の変数宣言
    $top: 23px;    //上下位置の変数宣言
    width:58px;/*検索ボタンの横幅*/ 
 //   height:35px;/*検索ボタンの縦幅*/ 
 //   position:absolute;/*検索ボタンの絶対位置*/
 //   left: $left;/*検索ボタンの位置調整960*/  
 //   top: $top;
 //   border-radius:0 22px 22px 0;/*検索ボタンの角を丸める*/ 
 //   background:$sawayaka-color;/*検索ボタンの背景カラー*/ 
 //   border:none;/*検索ボタンの枠線を消す*/ 
 //   color:#fff;/*検索ボタンのテキストカラー*/ 
 //   font-size:16px;/*検索ボタンのフォントサイズ*/
 //   cursor: pointer;
 //   opacity: 0.8;
 //   &:hover {            // マウスオーバー時の挙動
 //     opacity: 1;
 //   }
//    &:active {           // マウスクリック時の挙動
 //     box-shadow: none; 
 //     top: $top+1px; 
 //     left: $left+1px; 
 //   }
//  }
  