//--- outline color control -----------------------------
// $NewsBackgroundColor: #cecdb2;
$ProductsBackgroundColor: #bed2c3;
$TestPageBackgroundColor: #bed2c3;
$PricingBackgroundColor: #bed2c3;
$MainBackgroundColor: #bed2c3;
$AgreementBackgroundColor: #bed2c3;
$UserGuideBackgroundColor: #bed2c3;
$SignUpBackgroundColor: #bed2c3;
$MyPageBackgroundColor: #bed2c3;
$ContactBackgroundColor: #bed2c3;
$RecruitBackgroundColor: #bed2c3;
$CompanyBackgroundColor: #bed2c3;
$PrivacyBackgroundColor: #bed2c3;

$header__height: 69px;
$footer__height: 237px;

@media (max-width: 600px) {
  $header__height: 300px;
  $footer__height: 300px;
}

.layout--outline__violet {
  // background-color: $layout--outline__color;
  .layout--outline__inlineB__children {
    // background-color: rgb(172, 246, 246);  // For test
    margin-top: $header__height;
    margin-bottom: $footer__height;
  }
}

$layout--outline__color: #dbd0e6;


$color-header: #ffffff;



.nonscrollbar {
  overflow-x: scroll;
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}
  /*スクロールバー非表示（Chrome・Safari）*/
.content::-webkit-scrollbar{
  display:none;
}


// スクロールバーを消す操作
.contents_box::-webkit-scrollbar{
  display: none;
}

@mixin header__text {
  margin: 0px 3px 3px 30px;
  color: rgb(26, 24, 24);
  padding: 0px 0px 10px 0px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #808080;
  cursor: pointer;
  // font-weight: bold;
}

@mixin background__testcolor {
  background-color: #f8b500;   //for test
}

@mixin page--outline {
    height: 701px;
    width: 963px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 0px auto;
    margin: 0px auto;
    // background-color: rgb(167, 167, 167);  // For test
    // border: 5px dotted #4097a7;  // For test
  }
  
@mixin page--inlineA {
  height: 800px;
  width: 900px;
  // float: both;
  margin: -116px auto 0px auto;  // ※要検証
  // padding: 9px 0px 99px 0px;
  padding: 50px;
  // margin: auto;
  // border: 5px dotted #d16363;  // For test
  // background-color: rgb(233, 185, 185);  // For test
  opacity: 0.5;
}

@mixin page__textA {
  color: rgb(0, 0, 0);
  //top: 0px;
  padding: 0px 0px 0px 0px;
  margin: 35px 3px 35px 0px;
  cursor: pointer;
}
  
@mixin page__textS {
  height: auto;
  width: auto;
  margin: 10px 30px 10px 30px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(81, 81, 81);
  border-radius: 30px;
}

// Frosted Glass Effect -------------------------------------------------------------------
@mixin frostedglass {
  // background-color: rgba(255,255,255,0.2);
  background-color: rgba(76, 108, 179, 0.486);
  backdrop-filter:blur(8px);
  filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.6));
}

.header--Outline {
  @include frostedglass;
}

.footer--Outline {
  @include frostedglass;
}

// ---------------------------------------------------------------------------------------


    // background-color: rgba(125, 194, 68, 0.486);
    // backdrop-filter:blur(8px);
    // filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.6));
